
@{
    ViewBag.Title = "Other Interests";
    }

<h4> Past President & Editor: North Jeffco Gem and Mineral Club Newsletter and Chairman: Grab bags for The Denver Gem Show</h4>

<p>
    <iframe class="align=left" src="~/Content/Word Content/Apr12newsletter.pdf" height="630" width="630"></iframe>
    <a href="~/Content/Word Content/Apr12.newsletter.pdf">LINK TO PDF</a>
    <a href="http://www.denvermineralshow.com/" target="_blank"><img src="~/Content/images/volunteergemshow.jpg" title="Volunteering at the Denver Gem Show" width="380" height="211" class="align-right"/></a>
     
    <p />