@{    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Michael Granberg</h1>
    <p ></p>
    <figure>
        <img src="~/Content/images/V__59DE.jpg" width="300" height="400"/>
        <figcaption> This is my casual look</figcaption>
    </figure>
    <p></p>
</div>

