@{    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Michael Granberg</h1>
    <p ></p>
    <figure>
        <img src="~/Content/images/V__59DE.jpg" width="337" height="600"/>
        <figcaption></figcaption>
    </figure>
    <p></p>
</div>

