
@{
    ViewBag.Title = "index";
}

<h3>Class Work in C#</h3>
  
    <p class="align-left">CheeseNibbler2, Eat Cheese and be chased by a cat class</p><p class="align-right" >Hangman, Traditional hangman Game in Console</p>
    
    <a> <img src="~/Content/images/cheesenibbler2.png" width="400" height="275"/>             </a>  <a><img src="~/Content/images/Hangman.png" width="400" height="275"></a>
   <p></p>
    <p class="align-left">Combat Sim w/o extra level</p><p class="align-right">Combat Sim w/ extra level - easter egg</p>
   <br />
    <a> <img src="~/Content/images/CombatSimulator2.png" width="400" height="275" />          </a>   <a> <img src="~/Content/images/CombatSimulator2newlevel.png" width="400" height="275" /></a>
