@{
    ViewBag.Title = "My Journey";
}
<p></p>
<h3>@ViewBag.Title.</h3>
<h4>@ViewBag.Message</h4>
<p> </p>

<hr>
<p><img src="~/Content/images/hudsonhigh.jpg" alt="highschool" width="80" height="60" class="align-left" />
     One of the things that I remembered fron High school that impacted me was being selected to 
     receive the 3M science student award. This award was given to the two best Senior Students in
     Science. We went to St. Paul, MN and spent the day with scientists at 3M. The other one was
     my 10th grade Geometry class, where I was exposed to Proofs and I ended up spending the
     whole year just writing Geometry proofs. This was my first exposure to logic and I loved it.</p>
<hr />

<hr>
<p><img src="~/Content/images/bsucollege.jpg" alt="college" width="80" height="70" class="align-right" />
    In college I took Biology, Chemistry and Math. After two years I went to work as a chemical engineering tech for Gould designing
    and building automotive battery prototypes. I enjoyed this for three years and decided I enjoyed working with others too much to
    spend my life as a chemist. I decided to go back to school for business. I moved from Minnesota to Colorado and attended the University
    of Colorado in Colorado Springs, as a finance Sudent. I took one class in computers and was hooked. I changed my emphasis to Management
    information systems and finance and never looked back.
</p>
<hr />
<hr>
<p><img src="~/Content/images/uswest.png" alt="IT" width="80" height="70" class="align-left" />
      After college I received an offer from USWest and went to work for them in their IT group. I started as a developer and over the years
      worked as a systems analyst, business analyst, and systems architect delivering hundreds of changes in three main areas of the billing system.
      Afterwards, I went to work for Lucent Technologies as a systems engineer, learning wireless technology and helping the clients deliver a Wireless 
      Data server. I worked for them until our department got laid off during the internet bubble collapse in 2001.
</p>
<hr />
<hr>
<p><img src="~/Content/images/CUDenver.jpg" alt="Education" width="80" height="50" class="align-right" />
  There wasn't many jobs in technology, so I decided to help others as a teacher. I enrolled in a SPED/General Education Masters program at University
       of Colorado at Denver and graduated Summa cum Laude in 2002. I worked for a variety of districts teaching everything from elementary through most recently high
       school math, but never had the passion that I had when I was working in technology.
    </p>
<hr />
<hr>  
<p><img src="~/Content/images/seedpaths.jpg" alt="Seedpaths" width="80" height="40" class="align-left" />
<p>
     I finally decided I needed to change and discovered SeedPaths while I was looking for a job this fall.
     I enrolled, knowing that this was my opportunity to get back doing the job I love and never looked back 
     for the second time in my life, assured that I had made the right choice.
</p>
<hr />
