
@{
    ViewBag.Title = "Resume";
}

<h2>Resume</h2>
<p>
    
<div class="resume">

    <iframe src="~/Content/Word Content/resume.pdf" height="630" width="700"></iframe>
    <a href="~/Content/Word Content/resume.pdf">LINK TO PDF</a>


</div>




</p>

